.header__lang-item {
    font-size: 1.125rem;
    line-height: 1.0625rem;
    font-weight: 400;
    text-decoration-line: none;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity .5s linear;
}

.header__lang-item_active  {
    text-decoration: underline;
}

.header__lang-item:hover {
    opacity: .5;
}

@media screen and (min-width: 768px) {
    .header__lang-item  {
        font-size: 1.5rem;
        line-height: 1.4375rem;
    }
}
