@import url(_indent/lead_indent.css);
@import url(__title/lead__title.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__pic/lead__pic.css);
@import url(__caption/lead__caption.css);
@import url(__figure/lead__figure.css);

.lead {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Inter, Arial, sans-serif;
}

@media screen and (min-width: 1024px) {
    .lead {
        max-width: 90.625%;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        max-width: 985px;
    }
}
