.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7083;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
    transition: opacity .5s linear;
    margin: 0;
    padding: 0 20px 0 0;
}

.footer__link:last-of-type {
    padding-right: 0;
}

.footer__link:hover {
    opacity: .5;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 1rem;
        line-height: 1.6875;
    }
}

@media screen and (min-width: 1024px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 1.7083;
    }
}
