.lead__title {
    /* title */
    max-width: 782px;
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #FFFFFF;
    font-weight: 900;
}

@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 6rem;
        line-height: .9687;
}
}
