.barentsburg__url-heading {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    /* __url-heading */
    max-width: 282px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-transform: uppercase;
}
