/*.intro__quote-data {
    !* __text *!
    max-width: 17.6875rem;
    font-size: .625rem;
    line-height: 1.6;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0;
}

.intro__quote-data-span {
    max-width: 17.6875rem;
    font-size: .625rem;
    line-height: 1.6;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
}*/
